html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 125px;
    padding: 0 0 25px;
    height: 100%;
    background-color: #414042;
    font-family: "Oswald", serif;
    color: #f7941d;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

p {
    padding: 0 2rem;
}

header {
    max-height: 62.5px;
}

nav {
    position: relative;
    bottom: 215px;
}

#navbarSupportedContent {
    width: 100%;
    justify-content: space-between;

}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: #f7941d;
    margin: 6px 0;
}

nav ul a {
    color: #f7941d;
}

nav ul a:hover {
    color: white;
}

#header-img {
    z-index: -1;
    margin: 0 auto;
    width: 35%;
    height: auto;
    display: block;
}

#header-text {
    position: relative;
    bottom: 90px;
}

#button-container {
    position: relative;
    bottom: 250px;
}

#button-container button {
    margin: 0 auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 115px;
}

.logo {
    height: 100px;
}

.btn {
    background-color: #f7941d;
    border-color: #f7941d;
    color: #ef4136;
    font-weight: 600;
}

.btn:hover {
    color: white;
}

@media screen and (max-width: 768px) {
    .btn-lg {
        padding: .375rem .75rem;
        font-size: 1rem;
    }
}

.content-container {
    margin-top: 5%;
    background-color: #333132;
    border-radius: 10px;
}

#top-shaped {
    float: left;
    height: 37vh;
    width: 50%;
    shape-outside: polygon(0 0, 100% 0, 0 100%)
}

#top-shaped img {
    position: relative;
    right: 5%;
    bottom: 25%;
    width: 400px;
    /* transform: rotate(-32.96deg); */
}

#bottom-shaped img {
    position: relative;
    top: 11%;
    left: 34%;
    width: 400px;
    /* transform: rotate(-32.96deg); */
}

#spatial {
    background: url("images/PNG/image3.png") repeat;
    background-size: auto 50px;
    height: 150px;
    left: 50%;
	margin-left: -50vw;
    margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

#spatial-content, #how-it-works {
    margin-top: 2%;
}

#content-image-1 {
    height: 250px;
    transform: scale(1.3);
    position: relative;
    top: 30px;
    right: 45px;
}

#content-image-2 {
    height: 300px;
    transform: scale(1.7) rotate(-32deg);
    position: relative;
    bottom: 105px;
}

#image2-shape {
    float: right;
    width: 31%;
    shape-outside: polygon(0 0, 100% 100%, 100% 0)
}

#content-image-3 {
    height: 250px;
    transform: scale(1.4) rotate(-4deg);
    position: relative;
    top: 10px;
    right: 45px;
}

#content-image-4 {
    height: 300px;
    transform: scale(2.0);
    position: relative;
    bottom: 75px;
    right: 15px;
}

#image4-shape {
    float: right;
    height: 100%;
    width: 31%;
    shape-outside: polygon(0 0, 100% 100%, 100% 0)
}

#content-image-5 {
    height: 200px;
    transform: scale(1.5) rotate(-13deg);
    position: relative;
    right: 20px;
    bottom: 15px;
}

#content-image-6 {
    height: 200px;
    transform: scale(2.3) rotate(-10deg);
    position: relative;
    bottom: 80px;
    left: 10px;
}

#image6-shape {
    float: right;
    width: 25%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#footer-logo {
    position: relative;
    top: 3px;
}

footer p {
    margin: 0;
    padding: 0;
    color: #f7941d;
    position: relative;
    bottom: 150px;
}

.rotate {
    transform: rotate(180deg);
}

.w1920,
.w1440,
.w1280,
.w1080,
.w940,
.w800,
.w720,
.w640,
.w560,
.w470,
.w380,
.w320 {
    display: none;
}

/* Media Queries For SVG Header */
@media screen and (max-width: 640px){
    .logo {
        height: 75px;
    }

    #footer-logo {
        position: relative;
        top: 30px;
    }

    nav {
        bottom: 190px;
    }

    #navbarSupportedContent {
        font-size: small;
    }

    footer p {
        bottom: 124px;
        font-size: small;
    }
}

@media screen and (max-width: 320px) {
    .w320 {
        display: block;
    }
}

@media screen and (min-width: 321px) and (max-width: 380px) {
    .w380 {
        display: block;
    }
}

@media screen and (min-width: 381px) and (max-width: 470px) {
    .w470 {
        display: block;
    }
}

@media screen and (min-width: 471px) and (max-width: 560px) {
    .w560 {
        display: block;
    }
}

@media screen and (min-width: 561px) and (max-width: 640px) {
    .w640 {
        display: block;
    }
}

@media screen and (min-width: 641px) and (max-width: 720px) {
    .w720 {
        display: block;
    }
}

@media screen and (min-width: 721px) and (max-width: 800px) {
    .w800 {
        display: block;
    }
}

@media screen and (min-width: 801px) and (max-width: 940px) {
    .w940 {
        display: block;
    }
}

@media screen and (min-width: 941px) and (max-width: 1080px) {
    .w1080 {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1080px) {

    #nav-left,
    #nav-right {
        width: 367px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1280px) {
    .w1080 {
        display: block;
    }

    #nav-left,
    #nav-right {
        width: 435px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .w1440 {
        display: block;
    }

    #nav-left,
    #nav-right {
        width: 490px;
    }
}

@media screen and (min-width: 1441px) {
    .w1920 {
        display: block;
    }

    #nav-left,
    #nav-right {
        width: 650px;
    }

}

/* Media Query For Nav Drop Down Menu */
@media screen and (max-width: 991px) {
    .navbar-collapse ul {
        display: block;
    }

    .nav-fill .nav-item {
        text-align: start;
    }

    #navbarSupportedContent {
        border: 1px solid #f7941d;
        width: fit-content;
        background-color: #240000;
        margin-top: 3px;
    }
}

/* Media Queries for Content Images */
@media screen and (max-width: 1441px){

    #content-image-2 {
        transform: scale(1.5) rotate(-32deg);
    }
    
}

@media screen and (max-width: 1367px){

    #content-image-2 {
        transform: scale(1.4) rotate(-32deg);
        right: 10px;
    }
    
    #content-image-6 {
        transform: scale(2.2) rotate(-10deg);
    }
}

@media screen and (max-width: 1281px) {

    #content-image-2 {
        transform: scale(1.3) rotate(-32deg);
        right: 28px;
    }

    #content-image-4 {
        transform: scale(1.9);
        right: 22px;
    }

    #content-image-6 {
        transform: scale(1.9) rotate(-10deg);
        left: 0px;
    }
}

@media screen and (max-width: 1199px){

    #button-container {
        bottom: 220px;
    }

    #content-image-1 {
        top: 0px;
    }

    #content-image-2 {
        transform: scale(1.4) rotate(-32deg);
        right: 0px;
    }
    
    #content-image-5 {
        bottom: 50px;
    }

    #content-image-6 {
        transform: scale(1.8) rotate(-10deg);
        bottom: -10px;
    }
}