html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px;
    padding: 0 0 25px;
    height: 100%;
    background-color: whitesmoke;
}

/* header {
    background: url("images/SVG/Asset\ 8.svg") no-repeat center;
    background-size: cover;
} */

/* header img {
    object-fit: cover;
    overflow: hidden;
} */

footer {
    background-color: #240000;
}


nav ul a {
    color: #f7941d;
}

nav ul a:hover {
    color: white;
}

#header-img {
    position: relative;
    transform: rotate(-15deg);
    z-index: -1;
    margin: 0 auto;
}

#logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 115px;
}

.btn {
    background-color:#f7941d;
    border-color:#f7941d;
    color: #ef4136;
}

.btn:hover{
    color: white;
}
@media screen and (max-width: 768px) {
    .btn-lg {
        padding: .375rem .75rem;
        font-size: 1rem;
    }
}

.content-container {
    margin-top: 10%;
    background-color: white;
}

#top-shaped {
    float: left;
    height: 37vh;
    width: 50%;
    shape-outside: polygon(0 0, 100% 0, 0 100%)
}

#top-shaped img {
    position: relative;
    right: 13%;
    transform: rotate(-32.96deg);
}

#bottom-shaped {
    float: right;
    height: 37vh;
    width: 50%;
    shape-outside: polygon(100% 100%, 0 100%, 100% 0)
}

#bottom-shaped img {
    position: relative;
    top: 45%;
    left: 20%;
    transform: rotate(-32.96deg);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

footer p {
    margin: 0;
    padding: 0;
    color: #f7941d;
}