html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    scroll-padding-top: 125px;
}

body {
    margin: 0 0 125px;
    padding: 0 0 25px;
    height: 100%;
    background-color: #414042;
    font-family: "Oswald", serif;
    color: #f7941d;
    font-size: 1.5rem;
}

main,
nav {
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: 4rem;
}

p {
    padding: 0 2rem;
}

header {
    max-height: 62.5px;
}

nav {
    position: relative;
    bottom: 223px;
}

#navbarSupportedContent {
    width: 100%;
    justify-content: space-between;

}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: #f7941d;
    margin: 6px 0;
}

nav ul a,
#cart-icon2 {
    color: #f7941d;
}

nav ul a:hover,
#cart-icon2:hover {
    color: white;
}

#cart-icon2 {
    display: none;
    float: right;
    margin: 10px;
    position: relative;
    bottom: 220px;
}

#header-img {
    z-index: -1;
    margin: 0 auto;
    width: 35%;
    height: auto;
    display: block;
}

#plant-forge-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px -150px;
    position: relative;
    top: 135px;
}

#plant-img1,
#forge-img1 {
    height: 150px;
}

#plant-img2,
#forge-img2 {
    display: none;
}

#uspp {
    height: 40px;
    display: block;
    margin: 0 auto 40px;
}

#header-text {
    position: relative;
    font-size: 2rem;
}

#button-container {
    position: relative;
    bottom: 250px;
}

#button-container button,
#button-container a {
    margin: 0 auto;
    width: 200px;
}

#button-container a {
    color: #ef4136
}

.logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 115px;
}

.logo {
    height: 100px;
}

.btn {
    background-color: #f7941d;
    border-color: #f7941d;
    color: #ef4136;
    font-weight: 600;
}

a {
    color: #f7941d;
}

.btn:hover, a:hover {
    color: white;
    text-decoration: none;
}

.content-container {
    margin-top: 5%;
    background-color: #333132;
    border-radius: 10px;
}

#top-shaped {
    float: left;
    height: 37vh;
    width: 50%;
    shape-outside: polygon(0 0, 100% 0, 0 100%)
}

#top-shaped img {
    position: relative;
    right: 5%;
    bottom: 25%;
    width: 400px;
    /* transform: rotate(-32.96deg); */
}

#bottom-shaped img {
    position: relative;
    top: 11%;
    left: 34%;
    width: 400px;
    /* transform: rotate(-32.96deg); */
}

#spatial {
    background: url("images/PNG/image3.png") repeat;
    background-size: auto 50px;
    height: 150px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 99.5vw;
}

#how-it-works {
    margin-top: 2%;
}

#content-image-1 {
    height: 250px;
    transform: scale(1.3);
    position: relative;
    right: 45px;
}

#content-image-2 {
    height: 300px;
    transform: scale(1.7) rotate(-32deg);
    position: relative;
    bottom: 105px;
}

#image2-shape {
    float: right;
    width: 31%;
    shape-outside: polygon(0 0, 100% 100%, 100% 0)
}

#content-image-3 {
    height: 250px;
    transform: scale(1.4) rotate(-4deg);
    position: relative;
    top: -20px;
    right: 50px;
}

#content-image-4 {
    height: 300px;
    transform: scale(2.0);
    position: relative;
    bottom: 75px;
    right: 15px;
}

#image4-shape {
    float: right;
    height: 100%;
    width: 31%;
    shape-outside: polygon(0 0, 100% 100%, 100% 0)
}

#content-image-5 {
    height: 250px;
    transform: scale(1.5) rotate(-13deg);
    position: relative;
    right: 20px;
    bottom: 55px;
}

#content-image-6 {
    height: 200px;
    transform: scale(2.3) rotate(-10deg);
    position: relative;
}

#image6-shape {
    float: right;
    width: 25%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#footer-logo {
    position: relative;
    top: 3px;
}

footer p {
    margin: 0;
    padding: 0;
    color: #f7941d;
    position: relative;
    bottom: 150px;
}

.rotate {
    transform: rotate(180deg);
}

.w1920,
.w1440,
.w1280,
.w1080,
.w940,
.w800,
.w720,
.w640,
.w560,
.w470,
.w380,
.w320 {
    display: none;
}

/* Media Queries For SVG Header */
@media screen and (max-width: 640px) {

    #cart-icon2 {
        bottom: 198px;
    }

    .logo {
        height: 75px;
    }

    #footer-logo {
        position: relative;
        top: 30px;
    }

    nav {
        bottom: 190px;
    }

    #navbarSupportedContent {
        font-size: 1rem;
    }

    footer p {
        bottom: 124px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .w320 {
        display: block;
    }
}

@media screen and (min-width: 321px) and (max-width: 380px) {
    .w380 {
        display: block;
    }
}

@media screen and (min-width: 381px) and (max-width: 470px) {
    .w470 {
        display: block;
    }
}

@media screen and (min-width: 471px) and (max-width: 560px) {
    .w560 {
        display: block;
    }
}

@media screen and (min-width: 561px) and (max-width: 640px) {
    .w640 {
        display: block;
    }
}

@media screen and (min-width: 641px) and (max-width: 720px) {
    .w720 {
        display: block;
    }
}

@media screen and (min-width: 721px) and (max-width: 800px) {
    .w800 {
        display: block;
    }
}

@media screen and (min-width: 801px) and (max-width: 940px) {
    .w940 {
        display: block;
    }
}

@media screen and (min-width: 941px) and (max-width: 1080px) {
    .w1080 {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1080px) {

    #nav-left,
    #nav-right {
        width: 367px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1280px) {
    .w1080 {
        display: block;
    }

    #nav-left,
    #nav-right {
        width: 435px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .w1440 {
        display: block;
    }

    #nav-left,
    #nav-right {
        width: 490px;
    }
}

@media screen and (min-width: 1441px) {
    .w1920 {
        display: block;
    }

    #nav-left,
    #nav-right {
        width: 650px;
    }

}

/* Media Query For Nav Drop Down Menu */
@media screen and (max-width: 1199px) {
    .navbar-collapse ul {
        display: block;
    }

    .nav-fill .nav-item {
        text-align: start;
    }

    #navbarSupportedContent {
        border: 1px solid #f7941d;
        width: fit-content;
        background-color: #240000;
        margin-top: 3px;
    }

    #cart-icon1 {
        display: none;
    }

    #cart-icon2 {
        display: block;
    }
}

/* Media Queries for Content Images */
@media screen and (max-width: 1441px) {

    #content-image-2 {
        transform: scale(1.5) rotate(-32deg);
    }

    #plant-img1,
    #forge-img1 {
        height: 125px;
    }

}

@media screen and (max-width: 1367px) {

    #content-image-2 {
        transform: scale(1.4) rotate(-32deg);
        right: 10px;
    }

    #content-image-6 {
        transform: scale(2.2) rotate(-10deg);
    }
}

@media screen and (max-width: 1281px) {

    #plant-img1,
    #forge-img1 {
        height: 100px;
    }

    #content-image-2 {
        transform: scale(1.3) rotate(-32deg);
        right: 28px;
    }

    #content-image-4 {
        transform: scale(1.9);
        right: 22px;
    }

    #content-image-6 {
        transform: scale(1.9) rotate(-10deg);
        left: 0px;
    }
}

@media screen and (max-width: 1199px) {

    h1 {
        font-size: 3rem;
    }

    #button-container {
        bottom: 220px;
    }

    #content-image-1 {
        top: 0px;
    }

    #content-image-2 {
        transform: scale(1.4) rotate(-32deg);
        right: 0px;
    }

    #content-image-5 {
        bottom: 50px;
    }

    #content-image-6 {
        transform: scale(1.8) rotate(-10deg);
        bottom: -10px;
    }
}

@media screen and (max-width: 1025px) {

    #plant-img1,
    #forge-img1 {
        height: 75px;
    }

    #plant-forge-container {
        top: 95px;
    }

    #content-image-1 {
        transform: scale(1.1);
        top: 0px;
    }

    #content-image-2 {
        transform: scale(1.1) rotate(-32deg);
        right: 34px;
    }

    #content-image-3 {
        transform: scale(1.2) rotate(-4deg);
        top: -30px;
        right: 0px;
    }

    #content-image-4 {
        transform: scale(1.6);
        right: 25px;
        bottom: 60px;
    }

    #content-image-5 {
        transform: scale(1.4) rotate(-13deg);
        right: -15px;
    }

    #content-image-6 {
        transform: scale(1.6) rotate(-10deg);
        left: -20px;
        top: -35px;
    }
}

@media screen and (max-width: 991px) {

    body {
        font-size: 1.25rem;
    }

    #header-text {
        position: relative;
        font-size: 1.5rem;
    }

    #header-img {
        width: 45%
    }

    #button-container {
        justify-content: space-between;
    }

    #button-container button,
    #button-container a {
        margin: 0;
    }

    #content-image-1 {
        transform: scale(1);
        top: 15px;
        right: 25px;
    }

    #content-image-2 {
        right: -40px;
        bottom: 75px;
    }

    #content-image-3 {
        transform: scale(1.1) rotate(-4deg);
        top: -20px;
    }

    #image4-shape {
        height: 75%;
        width: 45%;
    }

    #content-image-4 {
        transform: scale(1.2);
        right: 0px;
        bottom: 55px;
    }

    #content-image-5 {
        transform: scale(1.2) rotate(-13deg);
        bottom: 15px;
        right: 0;
    }

    #content-image-6 {
        left: 20px;
    }
}

@media screen and (max-width: 801px) {

    #plant-forge-container {
        display: none;
    }

    #button-container {
        bottom: 0px;
        margin: 40px 20px;
    }

    #plant-img2,
    #forge-img2 {
        display: block;
        margin: 10px auto;
        height: 100px;
    }

    #content-image-2 {
        height: 275px;
        transform: scale(1) rotate(-32deg);
        right: 14px;
    }

    #content-image-4 {
        right: 15px;
    }

    #content-image-6 {
        transform: scale(1.4) rotate(-10deg);
        left: -10px;
    }
}

@media screen and (max-width: 768px) {

    #uspp {
        height: 30px;
    }

    .btn-lg {
        padding: .375rem .75rem;
        font-size: 1rem;
    }

    #button-container button,
    #button-container a {
        width: 155px;
    }

    #content-image-2 {
        height: 280px;
        transform: scale(1) rotate(-25deg);
        right: 10px;
        bottom: 73px;
    }

    #content-image-4 {
        transform: scale(1.3);
        right: 0px;
    }


    #content-image-6 {
        left: -10px;
    }
}

@media screen and (max-width: 601px) {
    h1 {
        font-size: 2.5rem;
    }

    #content-image-1 {
        height: 200px;
    }

    #content-image-2 {
        height: 225px;
        right: -3px;
        bottom: 66px;
    }

    #content-image-3 {
        height: 230px;
        transform: scale(1) rotate(-4deg);
    }

    #image4-shape {
        height: 45%;
    }

    #content-image-4 {
        height: 250px;
        transform: scale(1);
        bottom: 55px;
        right: -15px;
    }

    #content-image-5 {
        transform: scale(1.2) rotate(-13deg);
        bottom: 30px;
    }

    #content-image-6 {
        transform: scale(1.2) rotate(-10deg);
        left: 8px;
    }
}

@media screen and (max-width: 481px) {

    #uspp {
        height: 20px;
    }

    #plant-img2,
    #forge-img2 {
        height: 75px;
    }

    .content-container {
        overflow: hidden;
    }

    #header-img {
        width: 40%;
    }



    #content-image-1 {
        height: 160px;
    }

    #content-image-2 {
        right: -25px;
        bottom: 55px;
    }

    #content-image-3 {
        height: 200px;
    }

    #image4-shape {
        height: 40%;
    }

    #content-image-4 {
        height: 260px;
        right: -10px;
        bottom: 85px;
    }

    #content-image-5 {
        transform: scale(1) rotate(-13deg);
    }

    #content-image-6 {
        transform: scale(1) rotate(-10deg);
        left: 0;
    }
}

@media screen and (max-width: 415px) {

    .btn-lg {
        font-size: .8rem;
    }

    #button-container {
        bottom: 15px;
    }

    #button-container button,
    #button-container a {
        width: 129px;
    }

    #content-image-1 {
        height: 120px;
        top: 0px;
        right: 17px;
    }

    #content-image-2 {
        height: 197px;
        bottom: 80px;
        right: -9px;
    }

    #content-image-3 {
        height: 150px;
    }

    #content-image-4 {
        height: 235px;
        right: -15px;
        bottom: 70px;
    }

    #content-image-5 {
        height: 180px;
        right: 0px;
    }
}

@media screen and (max-width: 376px) {
    #content-image-1 {
        top: -3px;
    }

    #content-image-2 {
        height: 185px;
        bottom: 54px;
        right: -20px;
    }

    #image4-shape {
        height: 20%;
    }

    #content-image-4 {
        height: 195px;
    }

    #content-image-6 {
        height: 170px;
        left: 10px;
        top: 20px;
    }
}

@media screen and (max-width: 361px) {
    #content-image-1 {
        top: 0px;
    }

    #content-image-6 {
        left: 22px;
    }
}

@media screen and (max-width: 320px) {

    #button-container {
        margin: 40px 0;
    }

    #content-image-2 {
        height: 155px;
        right: -13px;
    }

    #image4-shape {
        height: 18%;
    }

    #content-image-4 {
        height: 180px;
        bottom: 45px;
        right: -5px;

    }

    #content-image-6 {
        height: 145px;
        left: 17px;
    }
}

/* Buy Plant Forge Page Styles */

#card-container {
    margin: 5% auto ;
}

.card-body {
    padding: 1.25rem 1.25rem 0;
}

.card-footer {
    padding: 0 1.25rem .75rem;
    border: 0;
    background-color: #333132;
}

.card {
    background-color: #333132;
}

/* Product Page Styles */

.product-image-active {
    display: block;
    width: 400px;
    background-color: white;
    padding: 5px;
    margin: 15px 5px;
}

.product-image-option {
    background-color: white;
    height: 100px;
    padding: 5px;
    margin: 15px 5px;
    border: 2px #f7941d solid;
}

.product-image-option:hover {
    border: 2px black solid;
}

.add-to-cart-button {
    vertical-align: text-bottom;
}

.quantity-input {
    width: 75px;
}